<section class="listar-sectionspace listar-bglight listar-listingvtwo listar-haslayout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="listar-title">
          <h3>Recommended</h3>
        </div>
        <div id="listar-relatedlistingslider" class="listar-relatedlistingslider listar-gridview owl-carousel">
          <div class="item">
            <div class="listar-themepost listar-placespost">
              <figure class="listar-featuredimg">
                <img src="assets/images/post/img-13.jpg" alt="image description">
                <div class="listar-postcontent">
                  <h3>
                    <a href="javascript:void(0);">Restro Club</a>
                  </h3>
                  <div class="listar-reviewcategory">
                    <div class="listar-review">
                      <span class="listar-stars">
                        <span></span>
                      </span>
                      <em>(3 Review)</em>
                    </div>
                    <a href="javascript:void(0);" class="listar-category">
                      <i class="icon-nightlife"></i>
                      <span>Night Life</span>
                    </a>
                  </div>
                  <div class="listar-themepostfoot">
                    <a class="listar-location" href="javascript:void(0);">
                      <i class="icon-icons74"></i>
                      <em>New York</em>
                    </a>
                    <div class="listar-postbtns">
                      <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview">
                        <i class="icon-expand"></i>
                      </a>
                      <a class="listar-btnquickinfo" href="javascript:void(0);">
                        <i class="icon-heart2"></i>
                      </a>
                      <div class="listar-btnquickinfo">
                        <div class="listar-shareicons">
                          <a href="javascript:void(0);">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a href="javascript:void(0);">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <a href="javascript:void(0);">
                            <i class="fa fa-pinterest-p"></i>
                          </a>
                        </div>
                        <a class="listar-btnshare" href="javascript:void(0);">
                          <i class="icon-share3"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </figure>
            </div>
          </div>
          <div class="item">
            <div class="listar-themepost listar-placespost">
              <figure class="listar-featuredimg">
                <img src="assets/images/post/img-14.jpg" alt="image description">
                <div class="listar-postcontent">
                  <h3>
                    <a href="javascript:void(0);">Serena Hotel</a>
                    <i class="icon-checkmark listar-postverified listar-themetooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i>
                  </h3>
                  <div class="listar-reviewcategory">
                    <div class="listar-review">
                      <span class="listar-stars">
                        <span></span>
                      </span>
                      <em>(3 Review)</em>
                    </div>
                    <a href="javascript:void(0);" class="listar-category">
                      <i class="icon-tourism"></i>
                      <span>Hotel</span>
                    </a>
                  </div>
                  <div class="listar-themepostfoot">
                    <a class="listar-location" href="javascript:void(0);">
                      <i class="icon-icons74"></i>
                      <em>Montreal</em>
                    </a>
                    <div class="listar-postbtns">
                      <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview">
                        <i class="icon-expand"></i>
                      </a>
                      <a class="listar-btnquickinfo listar-liked" href="javascript:void(0);">
                        <i class="icon-heart2"></i>
                      </a>
                      <div class="listar-btnquickinfo">
                        <div class="listar-shareicons">
                          <a href="javascript:void(0);">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a href="javascript:void(0);">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <a href="javascript:void(0);">
                            <i class="fa fa-pinterest-p"></i>
                          </a>
                        </div>
                        <a class="listar-btnshare" href="javascript:void(0);">
                          <i class="icon-share3"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </figure>
            </div>
          </div>
          <div class="item">
            <div class="listar-themepost listar-placespost">
              <figure class="listar-featuredimg">
                <img src="assets/images/post/img-15.jpg" alt="image description">
                <div class="listar-postcontent">
                  <h3>
                    <a href="javascript:void(0);">Zaaro</a>
                  </h3>
                  <div class="listar-reviewcategory">
                    <div class="listar-review">
                      <span class="listar-stars">
                        <span></span>
                      </span>
                      <em>(3 Review)</em>
                    </div>
                    <a href="javascript:void(0);" class="listar-category">
                      <i class="icon-foods"></i>
                      <span>Food and Drinks</span>
                    </a>
                  </div>
                  <div class="listar-themepostfoot">
                    <a class="listar-location" href="javascript:void(0);">
                      <i class="icon-icons74"></i>
                      <em>Phoenix</em>
                    </a>
                    <div class="listar-postbtns">
                      <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview">
                        <i class="icon-expand"></i>
                      </a>
                      <a class="listar-btnquickinfo" href="javascript:void(0);">
                        <i class="icon-heart2"></i>
                      </a>
                      <div class="listar-btnquickinfo">
                        <div class="listar-shareicons">
                          <a href="javascript:void(0);">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a href="javascript:void(0);">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <a href="javascript:void(0);">
                            <i class="fa fa-pinterest-p"></i>
                          </a>
                        </div>
                        <a class="listar-btnshare" href="javascript:void(0);">
                          <i class="icon-share3"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </figure>
            </div>
          </div>
          <div class="item">
            <div class="listar-themepost listar-placespost">
              <figure class="listar-featuredimg">
                <img src="assets/images/post/img-08.jpg" alt="image description">
                <div class="listar-postcontent">
                  <h3>
                    <a href="javascript:void(0);">Tourist Guide</a>
                  </h3>
                  <div class="listar-reviewcategory">
                    <div class="listar-review">
                      <span class="listar-stars">
                        <span></span>
                      </span>
                      <em>(3 Review)</em>
                    </div>
                    <a href="javascript:void(0);" class="listar-category">
                      <i class="icon-nightlife"></i>
                      <span>Night Life</span>
                    </a>
                  </div>
                  <div class="listar-themepostfoot">
                    <a class="listar-location" href="javascript:void(0);">
                      <i class="icon-icons74"></i>
                      <em>New York</em>
                    </a>
                    <div class="listar-postbtns">
                      <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview">
                        <i class="icon-expand"></i>
                      </a>
                      <a class="listar-btnquickinfo" href="javascript:void(0);">
                        <i class="icon-heart2"></i>
                      </a>
                      <div class="listar-btnquickinfo">
                        <div class="listar-shareicons">
                          <a href="javascript:void(0);">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a href="javascript:void(0);">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <a href="javascript:void(0);">
                            <i class="fa fa-pinterest-p"></i>
                          </a>
                        </div>
                        <a class="listar-btnshare" href="javascript:void(0);">
                          <i class="icon-share3"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </figure>
            </div>
          </div>
          <div class="item">
            <div class="listar-themepost listar-placespost">
              <figure class="listar-featuredimg">
                <img src="assets/images/post/img-12.jpg" alt="image description">
                <div class="listar-postcontent">
                  <h3>
                    <a href="javascript:void(0);">Fly Hotel</a>
                    <i class="icon-checkmark listar-postverified listar-themetooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i>
                  </h3>
                  <div class="listar-reviewcategory">
                    <div class="listar-review">
                      <span class="listar-stars">
                        <span></span>
                      </span>
                      <em>(3 Review)</em>
                    </div>
                    <a href="javascript:void(0);" class="listar-category">
                      <i class="icon-tourism"></i>
                      <span>Hotel</span>
                    </a>
                  </div>
                  <div class="listar-themepostfoot">
                    <a class="listar-location" href="javascript:void(0);">
                      <i class="icon-icons74"></i>
                      <em>New York</em>
                    </a>
                    <div class="listar-postbtns">
                      <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview">
                        <i class="icon-expand"></i>
                      </a>
                      <a class="listar-btnquickinfo listar-liked" href="javascript:void(0);">
                        <i class="icon-heart2"></i>
                      </a>
                      <div class="listar-btnquickinfo">
                        <div class="listar-shareicons">
                          <a href="javascript:void(0);">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a href="javascript:void(0);">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <a href="javascript:void(0);">
                            <i class="fa fa-pinterest-p"></i>
                          </a>
                        </div>
                        <a class="listar-btnshare" href="javascript:void(0);">
                          <i class="icon-share3"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </figure>
            </div>
          </div>
          <div class="item">
            <div class="listar-themepost listar-placespost">
              <figure class="listar-featuredimg">
                <img src="assets/images/post/img-13.jpg" alt="image description">
                <div class="listar-postcontent">
                  <h3>
                    <a href="javascript:void(0);">Tourist Guide</a>
                  </h3>
                  <div class="listar-reviewcategory">
                    <div class="listar-review">
                      <span class="listar-stars">
                        <span></span>
                      </span>
                      <em>(3 Review)</em>
                    </div>
                    <a href="javascript:void(0);" class="listar-category">
                      <i class="icon-foods"></i>
                      <span>Food and Drinks</span>
                    </a>
                  </div>
                  <div class="listar-themepostfoot">
                    <a class="listar-location" href="javascript:void(0);">
                      <i class="icon-icons74"></i>
                      <em>New York</em>
                    </a>
                    <div class="listar-postbtns">
                      <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview">
                        <i class="icon-expand"></i>
                      </a>
                      <a class="listar-btnquickinfo" href="javascript:void(0);">
                        <i class="icon-heart2"></i>
                      </a>
                      <div class="listar-btnquickinfo">
                        <div class="listar-shareicons">
                          <a href="javascript:void(0);">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a href="javascript:void(0);">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <a href="javascript:void(0);">
                            <i class="fa fa-pinterest-p"></i>
                          </a>
                        </div>
                        <a class="listar-btnshare" href="javascript:void(0);">
                          <i class="icon-share3"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </figure>
            </div>
          </div>
          <div class="item">
            <div class="listar-themepost listar-placespost">
              <figure class="listar-featuredimg">
                <img src="assets/images/post/img-12.jpg" alt="image description">
                <div class="listar-postcontent">
                  <h3>
                    <a href="javascript:void(0);">Tourist Guide</a>
                  </h3>
                  <div class="listar-reviewcategory">
                    <div class="listar-review">
                      <span class="listar-stars">
                        <span></span>
                      </span>
                      <em>(3 Review)</em>
                    </div>
                    <a href="javascript:void(0);" class="listar-category">
                      <i class="icon-nightlife"></i>
                      <span>Night Life</span>
                    </a>
                  </div>
                  <div class="listar-themepostfoot">
                    <a class="listar-location" href="javascript:void(0);">
                      <i class="icon-icons74"></i>
                      <em>New York</em>
                    </a>
                    <div class="listar-postbtns">
                      <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview">
                        <i class="icon-expand"></i>
                      </a>
                      <a class="listar-btnquickinfo" href="javascript:void(0);">
                        <i class="icon-heart2"></i>
                      </a>
                      <div class="listar-btnquickinfo">
                        <div class="listar-shareicons">
                          <a href="javascript:void(0);">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a href="javascript:void(0);">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <a href="javascript:void(0);">
                            <i class="fa fa-pinterest-p"></i>
                          </a>
                        </div>
                        <a class="listar-btnshare" href="javascript:void(0);">
                          <i class="icon-share3"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button onclick="topFunction()" id="myBtn" title="Go to top">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </button>
</section>
<footer id="listar-footer" class="listar-footer listar-haslayout">
  <div class="listar-footeraboutarea">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="listar-upperbox">
            <strong class="listar-logo">
              <a href="javascript:void(0);">
                <img src="assets/images/logo1.png" alt="image description">
              </a>
            </strong>
            <ul class="listar-socialicons">
              <li class="listar-facebook">
                <a href="javascript:void(0);">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="listar-twitter">
                <a href="javascript:void(0);">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="listar-linkedin">
                <a href="javascript:void(0);">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li class="listar-googleplus">
                <a href="javascript:void(0);">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li class="listar-vimeo">
                <a href="javascript:void(0);">
                  <i class="fa fa-vimeo"></i>
                </a>
              </li>
            </ul>
            <nav class="listar-navfooter">
              <ul>
                <li>
                  <a routerLink="banner" href="#listar-homebannervthree">Home</a>
                </li>
                <li>
                  <a routerLink="listgrid">Explore</a>
                </li>
                <li>
                  <a routerLink="blog">Blog</a>
                </li>
                <li>
                  <a href="#about">About</a>
                </li>
                <li>
                  <a routerLink="contactus">Contact Us</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="listar-lowerbox">
            <div class="listar-description">
            </div>
            <address>
              <strong>Address:</strong> Vaishnodevi Apartment, Sector 12,KoparKhairane
              <span>
                <strong>Tel:</strong> 9425442189</span>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>