<div id=" listar-homebannervthree" class=" listar-homebannervthree">
  <figure>
    <img src="assets/images/parallax/bgparallax-10.jpg" alt="image description">
  </figure>
  <div id="listar-homebanner" class="listar-homebanner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="listar-bannercontent">
            <h1>What do you want to do Today</h1>
            <div class="listar-description">
              <p>Find the best places in the city for food, activities and relaxation</p>
            </div>
           
            <div class="listar-bestplacesincity">
              <div class="listar-bestplacestitle">
                <h2>Find the Best
                  <span>Places in the City</span>
                </h2>
              </div>
              <ul>
                <li>
                  <a routerLink="../listgrid">
                    <i class="icon-foods"></i>
                    <h3>Restaurant</h3>
                  </a>
                </li>

                <li>
                  <a routerLink="../listgrid">
                    <i class="icon-nightlife"></i>
                    <h3>Night Life</h3>
                  </a>
                </li>
                <li>
                  <a routerLink="../listgrid">
                    <i class="icon-entertainment"></i>
                    <h3>Entertainment</h3>
                  </a>
                </li>
                <li>
                  <a routerLink="../listgrid">
                    <i class="icon-localservice"></i>
                    <h3>Local Services</h3>
                  </a>
                </li>
                <li>
                  <a routerLink="../listgrid">
                    <i class="icon-healthfitness"></i>
                    <h3>health &amp; Fitness</h3>
                  </a>
                </li>
                <li>
                  <a routerLink="../listgrid">
                    <i class="icon-tourism"></i>
                    <h3>Tourism</h3>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--************************************
    Home Slider End
*************************************-->

<!--************************************
    Main Start
*************************************-->
<main id="listar-main" class="listar-main listar-haslayout">
  <!--************************************
      Explore The City Start
  *************************************-->
  <section class="listar-sectionspace listar-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="listar-sectionhead">
            <div class="listar-sectiontitle">
              <h2>Explore This City</h2>
            </div>
            <!--	<div class="listar-description">
              <p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra doloremque laudantium, totam rem aperiam</p>
            </div> -->
            <!--searching options -->

          </div>
        </div>
        <div class="listar-themeposts listar-categoryposts">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="listar-themepost listar-categorypost">
              <figure class="listar-featuredimg">
                <a routerLink="../listgrid">
                  <img src="assets/images/post/img-01.jpg" alt="image description">
                  <div class="listar-contentbox">
                    <div class="listar-postcontent">
                      <span class="listar-categoryicon listar-flip">
                        <i class="icon-tourism"></i>
                      </span>
                      <h3>Appartments</h3>
                      <h4>Tourism</h4>
                    </div>
                  </div>
                </a>
              </figure>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="listar-themepost listar-categorypost">
              <figure class="listar-featuredimg">
                <a routerLink="../listgrid">
                  <img src="assets/images/post/img-02.jpg" alt="image description">
                  <div class="listar-contentbox">
                    <div class="listar-postcontent">
                      <span class="listar-categoryicon listar-flip">
                        <i class="icon-foods"></i>
                      </span>
                      <h3>Restaurant</h3>
                      <h4>Food and Drinks</h4>
                    </div>
                  </div>
                </a>
              </figure>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="listar-themepost listar-categorypost">
              <figure class="listar-featuredimg">
                <a routerLink="../listgrid">
                  <img src="assets/images/post/img-03.jpg" alt="image description">
                  <div class="listar-contentbox">
                    <div class="listar-postcontent">
                      <span class="listar-categoryicon listar-flip">
                        <i class="icon-nightlife"></i>
                      </span>
                      <h3>Dance Floor</h3>
                      <h4>Night Life</h4>
                    </div>
                  </div>
                </a>
              </figure>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="listar-themepost listar-categorypost">
              <figure class="listar-featuredimg">
                <a routerLink="../listgrid">
                  <img src="assets/images/post/img-04.jpg" alt="image description">
                  <div class="listar-contentbox">
                    <div class="listar-postcontent">
                      <span class="listar-categoryicon listar-flip">
                        <i class="icon-entertainment"></i>
                      </span>
                      <h3>Cinema</h3>
                      <h4>Entertainment</h4>
                    </div>
                  </div>
                </a>
              </figure>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="listar-themepost listar-categorypost">
              <figure class="listar-featuredimg">
                <a routerLink="../listgrid">
                  <img src="assets/images/post/img-05.jpg" alt="image description">
                  <div class="listar-contentbox">
                    <div class="listar-postcontent">
                      <span class="listar-categoryicon listar-flip">
                        <i class="icon-localservice"></i>
                      </span>
                      <h3>Motor Mechanics</h3>
                      <h4>Local Services</h4>
                    </div>
                  </div>
                </a>
              </figure>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="listar-themepost listar-categorypost">
              <figure class="listar-featuredimg">
                <a routerLink="../listgrid">
                  <img src="assets/images/post/img-06.jpg" alt="image description">
                  <div class="listar-contentbox">
                    <div class="listar-postcontent">
                      <span class="listar-categoryicon listar-flip">
                        <i class="icon-healthfitness"></i>
                      </span>
                      <h3>Gym</h3>
                      <h4>Health and Fitness</h4>
                    </div>
                  </div>
                </a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
      Explore The City End
  *************************************-->
  <!--************************************
      Best Theme Video Start
  *************************************-->
  <section class="listar-themeparallax" data-appear-top-offset="600" data-parallax="scroll" data-image-src="assets/images/parallax/bgparallax-01.jpg">
    <div class="listar-parallaxcolor">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-push-2 col-md-8 col-lg-push-2 col-lg-8">
            <div class="listar-videobox listar-prettyPhoto">
              <h2>Our Main Goal -
                <span>Best Places for your Entertainment</span>
              </h2>
              <figure>
                <img src="assets/images/img-01.jpg" alt="image description">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
      Best Theme Video End
  *************************************-->
  <!--************************************
      Theme Features Start
  *************************************-->

  <section id="about" class="listar-sectionspace listar-bglight listar-haslayout">
      <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="listar-sectionhead">
                <div class="listar-sectiontitle">
                  <h2>About Us</h2>
                </div>
                </div>
            </div>
          </div>
        </div>
       
    <div class="container">
      <div class="row">
        <div class="listar-features listar-featuresvthree">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="listar-feature">
              <i class="icon-layers"></i>
              <h2>
                <span class="listar-bluethemecolor">01</span> Choose a Category</h2>
              <div class="listar-description">
                <p>We are providing services with various categories of your daily life interest.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="listar-feature">
              <i class="icon-map3"></i>
              <h2>
                <span class="listar-bluethemecolor">02</span> Find Location</h2>
              <div class="listar-description">
                <p>We are providing services to different regions involving 249 cities, you can search of any city and go for
                  your service</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="listar-feature">
              <i class="icon-hotairballoon"></i>
              <h2>
                <span class="listar-bluethemecolor">03</span> Go have Fun</h2>
              <div class="listar-description">
                <p>In your City you have various categories, choose anyone of your interest and go have fun. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
      Theme Features End
  *************************************-->
  <!--************************************
      Explore The City Start
  *************************************-->
  <section class="listar-sectionspace listar-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="listar-sectionhead">
            <div class="listar-sectiontitle">
              <h2>Latest Categories</h2>
            </div>
            <div class="listar-description">
              <p>
                <a class="listar-bluethemecolor" href="javascript:void(0);">See All Categories</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div id="listar-categoriespostslider" class="listar-themeposts listar-categoryposts listar-gridslider owl-carousel">
            <div class="item">
              <div class="listar-themepost listar-categorypost">
                <figure class="listar-featuredimg1">
                  <a href="javascript:void(0);">
                    <img src="assets/images/post/img-07.jpg" alt="image description">
                  </a>
                </figure>
              </div>
            </div>
            <div class="item">
              <div class="listar-themepost listar-categorypost">
                <figure class="listar-featuredimg">
                  <a href="javascript:void(0);">
                    <img src="assets/images/post/img-08.jpg" alt="image description">
                    <div class="listar-contentbox">
                      <div class="listar-postcontent">
                        <span class="listar-categoryicon listar-flip">
                          <i class="icon-nightlife"></i>
                        </span>
                        <h3>Night Life</h3>
                        <h4>03 Listings</h4>
                      </div>
                    </div>
                  </a>
                </figure>
              </div>
              <div class="listar-themepost listar-categorypost">
                <figure class="listar-featuredimg">
                  <a href="javascript:void(0);">
                    <img src="assets/images/post/img-09.jpg" alt="image description">
                    <div class="listar-contentbox">
                      <div class="listar-postcontent">
                        <span class="listar-categoryicon listar-flip">
                          <i class="icon-tourism"></i>
                        </span>
                        <h3>Hotels</h3>
                        <h4>18 Listings</h4>
                      </div>
                    </div>
                  </a>
                </figure>
              </div>
            </div>
            <div class="item">
              <div class="listar-themepost listar-categorypost">
                <figure class="listar-featuredimg1">
                  <a href="javascript:void(0);">
                    <img src="assets/images/post/img-10.jpg" alt="image description">
                  </a>
                </figure>
              </div>
            </div>
            <div class="item">
              <div class="listar-themepost listar-categorypost">
                <figure class="listar-featuredimg">
                  <a href="javascript:void(0);">
                    <img src="assets/images/post/img-11.jpg" alt="image description">
                    <div class="listar-contentbox">
                      <div class="listar-postcontent">
                        <span class="listar-categoryicon listar-flip">
                          <i class="icon-entertainment"></i>
                        </span>
                        <h3>Entertainment</h3>
                        <h4>03 Listing</h4>
                      </div>
                    </div>
                  </a>
                </figure>
              </div>
              <div class="listar-themepost listar-categorypost">
                <figure class="listar-featuredimg">
                  <a href="javascript:void(0);">
                    <img src="assets/images/post/img-12.jpg" alt="image description">
                    <div class="listar-contentbox">
                      <div class="listar-postcontent">
                        <span class="listar-categoryicon listar-flip">
                          <i class="icon-shopping"></i>
                        </span>
                        <h3>Shops</h3>
                        <h4>20 Listing</h4>
                      </div>
                    </div>
                  </a>
                </figure>
              </div>
            </div>


            <div class="item">
              <div class="listar-themepost listar-categorypost">
                <figure class="listar-featuredimg">
                  <a href="javascript:void(0);">
                    <img src="assets/images/post/img-08.jpg" alt="image description">
                    <div class="listar-contentbox">
                      <div class="listar-postcontent">
                        <span class="listar-categoryicon listar-flip">
                          <i class="icon-nightlife"></i>
                        </span>
                        <h3>Night Life</h3>
                        <h4>03 Listings</h4>
                      </div>
                    </div>
                  </a>
                </figure>
              </div>
              <div class="listar-themepost listar-categorypost">
                <figure class="listar-featuredimg">
                  <a href="javascript:void(0);">
                    <img src="assets/images/post/img-09.jpg" alt="image description">
                    <div class="listar-contentbox">
                      <div class="listar-postcontent">
                        <span class="listar-categoryicon listar-flip">
                          <i class="icon-tourism"></i>
                        </span>
                        <h3>Hotels</h3>
                        <h4>18 Listings</h4>
                      </div>
                    </div>
                  </a>
                </figure>
              </div>
            </div>
            <div class="item">
              <div class="listar-themepost listar-categorypost">
                <figure class="listar-featuredimg1">
                  <a href="javascript:void(0);">
                    <img src="assets/images/post/img-07.jpg" alt="image description">
                  </a>
                </figure>
              </div>
            </div>

            <div class="item">
              <div class="listar-themepost listar-categorypost">
                <figure class="listar-featuredimg">
                  <a href="javascript:void(0);">
                    <img src="assets/images/post/img-11.jpg" alt="image description">
                    <div class="listar-contentbox">
                      <div class="listar-postcontent">
                        <span class="listar-categoryicon listar-flip">
                          <i class="icon-entertainment"></i>
                        </span>
                        <h3>Entertainment</h3>
                        <h4>03 Listing</h4>
                      </div>
                    </div>
                  </a>
                </figure>
              </div>
              <div class="listar-themepost listar-categorypost">
                <figure class="listar-featuredimg">
                  <a href="javascript:void(0);">
                    <img src="assets/images/post/img-12.jpg" alt="image description">
                    <div class="listar-contentbox">
                      <div class="listar-postcontent">
                        <span class="listar-categoryicon listar-flip">
                          <i class="icon-shopping"></i>
                        </span>
                        <h3>Shops</h3>
                        <h4>20 Listing</h4>
                      </div>
                    </div>
                  </a>
                </figure>
              </div>
            </div>

            <div class="item">
              <div class="listar-themepost listar-categorypost">
                <figure class="listar-featuredimg1">
                  <a href="javascript:void(0);">
                    <img src="assets/images/post/img-08.jpg" alt="image description">

                  </a>
                </figure>
              </div>
              <div class="listar-themepost listar-categorypost">
                <figure class="listar-featuredimg">
                  <a href="javascript:void(0);">
                    <img src="assets/images/post/img-09.jpg" alt="image description">
                    <div class="listar-contentbox">
                      <div class="listar-postcontent">
                        <span class="listar-categoryicon listar-flip">
                          <i class="icon-tourism"></i>
                        </span>
                        <h3>Hotels</h3>
                        <h4>18 Listings</h4>
                      </div>
                    </div>
                  </a>
                </figure>
              </div>
            </div>

            <div class="item">
              <div class="listar-themepost listar-categorypost">
                <figure class="listar-featuredimg">
                  <a href="javascript:void(0);">
                    <img src="assets/images/post/img-11.jpg" alt="image description">
                    <div class="listar-contentbox">
                      <div class="listar-postcontent">
                        <span class="listar-categoryicon listar-flip">
                          <i class="icon-entertainment"></i>
                        </span>
                        <h3>Entertainment</h3>
                        <h4>03 Listing</h4>
                      </div>
                    </div>
                  </a>
                </figure>
              </div>
              <div class="listar-themepost listar-categorypost">
                <figure class="listar-featuredimg">
                  <a href="javascript:void(0);">
                    <img src="assets/images/post/img-12.jpg" alt="image description">
                    <div class="listar-contentbox">
                      <div class="listar-postcontent">
                        <span class="listar-categoryicon listar-flip">
                          <i class="icon-shopping"></i>
                        </span>
                        <h3>Shops</h3>
                        <h4>20 Listing</h4>
                      </div>
                    </div>
                  </a>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>