<!--************************************
				Inner Banner Start
		*************************************-->
<div class="listar-innerbanner">
	<div class="listar-parallaxcolor listar-innerbannerparallaxcolor">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="listar-innerbannercontent">
						<div class="listar-pagetitle">
							<h1>Latest News</h1>
						</div>
						<ol class="listar-breadcrumb">
							<li>
								<a routerLink="../banner">Home</a>
							</li>
							<li class="listar-active">
								<span>News</span>
							</li>
						</ol>
						<a routerLink="../blogdetails">
							<input type="button" class="btn1" value="SEARCH"> </a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--************************************
				Inner Banner End
		*************************************-->
<!--************************************
				Main Start
		*************************************-->
<main id="listar-main" class="listar-main listar-innerspeace listar-haslayout">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div id="listar-content" class="listar-content">
				<div class="listar-posts listar-postsgrid listar-postsgridvtwo">
					<article class="listar-themepost listar-post">
						<figure class="listar-featuredimg">
							<a routerLink="../blogdetails">
								<img src="assets/images/blog/img-01.jpg" alt="image description">
							</a>
						</figure>
						<div class="listar-postcontent">
							<div class="listar-postauthordpname">
								<span class="listar-postauthordp">
									<a routerLink="../blogdetails">
										<img src="assets/images/author/img-05.jpg" alt="image description">
									</a>
								</span>
								<span class="listar-postauhorname">
									<a routerLink="../blogdetails">Bill Chang</a>
								</span>
							</div>
							<time datetime="2017-08-08">
								<a href="javascript:void(0);">Food</a>
							</time>
							<div class="listar-title">
									<h2>
										<a routerLink="../blogdetails">Eat well because they treat you well</a>
									</h2>
								</div>
							<div class="listar-title">
								<h2>
									<a routerLink="../blogdetails"> </a>
								</h2>
							</div>
							</div>
						<a class="listar-btnreadmore" routerLink="../blogdetails">Read More</a>
					</article>
					<article class="listar-themepost listar-post">
						<figure class="listar-featuredimg">
							<a routerLink="../blogdetails">
								<img src="assets/images/blog/img-02.jpg" alt="image description">
							</a>
						</figure>
						<div class="listar-postcontent">
							<div class="listar-postauthordpname">
								<span class="listar-postauthordp">
									<a routerLink="../blogdetails">
										<img src="assets/images/author/img-06.jpg" alt="image description">
									</a>
								</span>
								<span class="listar-postauhorname">
									<a routerLink="../blogdetails">Jack Sinha</a>
								</span>
							</div>
							<time datetime="2017-08-08">
								<a href="javascript:void(0);">Tourism</a>
							</time>
							<div class="listar-title">
								<h2>
									<a routerLink="../blogdetails">New level of the Shop</a>
								</h2>
							</div>
						</div>
						<a class="listar-btnreadmore" routerLink="..blogdetails">Read More</a>
					</article>
					<article class="listar-themepost listar-post">
						<figure class="listar-featuredimg">
							<a routerLink="../blogdetails">
								<img src="assets/images/blog/img-03.jpg" alt="image description">
							</a>
						</figure>
						<div class="listar-postcontent">
							<div class="listar-postauthordpname">
								<span class="listar-postauthordp">
									<a routerLink="../blogdetails">
										<img src="assets/images/author/img-03.jpg" alt="image description">
									</a>
								</span>
								<span class="listar-postauhorname">
									<a routerLink="../blogdetails">Johny bravo</a>
								</span>
							</div>
							<time datetime="2017-08-08">
								<a routerLink="../blogdetails">Local Service</a>
							</time>
							<div class="listar-title">
								<h2>
									<a routerLink="../blogdetails">WAKE UP YOUR WALKING WORK OUT</a>
								</h2>
							</div>
						</div>
						<a class="listar-btnreadmore" routerLink="../blogdetails">Read More</a>
					</article>
					<article class="listar-themepost listar-post">
						<figure class="listar-featuredimg">
							<a href="newsdetail.html">
								<img src="assets/images/blog/img-05.jpg" alt="image description">
							</a>
						</figure>
						<div class="listar-postcontent">
							<div class="listar-postauthordpname">
								<span class="listar-postauthordp">
									<a href="javascript:void(0);">
										<img src="assets/images/author/img-05.jpg" alt="image description">
									</a>
								</span>
								<span class="listar-postauhorname">
									<a href="javascript:void(0);">Selena Gill</a>
								</span>
							</div>
							<time datetime="2017-08-08">
								<a href="javascript:void(0);">Movie</a>
							</time>
							<div class="listar-title">
								<h2>
									<a routerLink="../blogdetails">Why It’s Never The Perfect Time To Movie</a>
								</h2>
							</div>
						</div>
						<a class="listar-btnreadmore" routerLink="../blogdetails">Read More</a>
					</article>
					<article class="listar-themepost listar-post">
						<figure class="listar-featuredimg">
							<a href="newsdetail.html">
								<img src="assets/images/blog/img-06.jpg" alt="image description">
							</a>
						</figure>
						<div class="listar-postcontent">
							<div class="listar-postauthordpname">
								<span class="listar-postauthordp">
									<a href="javascript:void(0);">
										<img src="assets/images/author/img-06.jpg" alt="image description">
									</a>
								</span>
								<span class="listar-postauhorname">
									<a href="javascript:void(0);">Palash Neel</a>
								</span>
							</div>
							<time datetime="2017-08-08">
								<a href="javascript:void(0);">Sports</a>
							</time>
							<div class="listar-title">
								<h2>
									<a routerLink="../blogdetails">New level of the Shop</a>
								</h2>
							</div>
						</div>
						<a class="listar-btnreadmore" href="../blogdetails">Read More</a>
					</article>
					<article class="listar-themepost listar-post">
						<figure class="listar-featuredimg">
							<a href="newsdetail.html">
								<img src="assets/images/blog/img-07.jpg" alt="image description">
							</a>
						</figure>
						<div class="listar-postcontent">
							<div class="listar-postauthordpname">
								<span class="listar-postauthordp">
									<a href="javascript:void(0);">
										<img src="assets/images/author/img-01.jpg" alt="image description">
									</a>
								</span>
								<span class="listar-postauhorname">
									<a href="javascript:void(0);">Johny</a>
								</span>
							</div>
							<time datetime="2017-08-08">
								<a href="javascript:void(0);">NighLife</a>
							</time>
							<div class="listar-title">
								<h2>
									<a routerLink="../blogdetails">Let's Went Crazy</a>
								</h2>
							</div>
						</div>
						<a class="listar-btnreadmore" href="../blogdetails">Read More</a>
					</article>
					<article class="listar-themepost listar-post">
						<figure class="listar-featuredimg">
							<a href="newsdetail.html">
								<img src="assets/images/blog/img-08.jpg" alt="image description">
							</a>
						</figure>
						<div class="listar-postcontent">
							<div class="listar-postauthordpname">
								<span class="listar-postauthordp">
									<a href="javascript:void(0);">
										<img src="assets/images/author/img-12.jpg" alt="image description">
									</a>
								</span>
								<span class="listar-postauhorname">
									<a href="javascript:void(0);">Johny bravo</a>
								</span>
							</div>
							<time datetime="2017-08-08">
								<a href="javascript:void(0);">Fun Zone</a>
							</time>
							<div class="listar-title">
								<h2>
									<a routerLink="../blogdetails">The Healing Power of Adaptogens</a>
								</h2>
							</div>
						</div>
						<a class="listar-btnreadmore" href="newsdetail.html">Read More</a>
					</article>
					<article class="listar-themepost listar-post">
						<figure class="listar-featuredimg">
							<a href="newsdetail.html">
								<img src="assets/images/blog/img-09.jpg" alt="image description">
							</a>
						</figure>
						<div class="listar-postcontent">
							<div class="listar-postauthordpname">
								<span class="listar-postauthordp">
									<a href="javascript:void(0);">
										<img src="assets/images/author/img-09.jpg" alt="image description">
									</a>
								</span>
								<span class="listar-postauhorname">
									<a href="javascript:void(0);">Jacob Tom</a>
								</span>
							</div>
							<time datetime="2017-08-08">
								<a href="javascript:void(0);">Shopping</a>
							</time>
							<div class="listar-title">
								<h2>
									<a routerLink="../blogdetails">Cheap and Affordable</a>
								</h2>
							</div>
						</div>
						<a class="listar-btnreadmore" routerLink="../blogdetails">Read More</a>
					</article>
					<article class="listar-themepost listar-post">
						<figure class="listar-featuredimg">
							<a href="newsdetail.html">
								<img src="assets/images/blog/img-10.jpg" alt="image description">
							</a>
						</figure>
						<div class="listar-postcontent">
							<div class="listar-postauthordpname">
								<span class="listar-postauthordp">
									<a href="javascript:void(0);">
										<img src="assets/images/author/img-10.jpg" alt="image description">
									</a>
								</span>
								<span class="listar-postauhorname">
									<a href="javascript:void(0);">Pammy Paul</a>
								</span>
							</div>
							<time datetime="2017-08-08">
								<a href="javascript:void(0);">Relax</a>
							</time>
							<div class="listar-title">
								<h2>
									<a routerLink="../blogdetails">Peace Peace Peace</a>
								</h2>
							</div>
						</div>
						<a class="listar-btnreadmore" routerLink="../blogdetails">Read More</a>
					</article>
					<article class="listar-themepost listar-post">
						<figure class="listar-featuredimg">
							<a href="newsdetail.html">
								<img src="assets/images/blog/img-11.jpg" alt="image description">
							</a>
						</figure>
						<div class="listar-postcontent">
							<div class="listar-postauthordpname">
								<span class="listar-postauthordp">
									<a href="javascript:void(0);">
										<img src="assets/images/author/img-11.jpg" alt="image description">
									</a>
								</span>
								<span class="listar-postauhorname">
									<a href="javascript:void(0);">Tom Brew</a>
								</span>
							</div>
							<time datetime="2017-08-08">
								<a href="javascript:void(0);">Funtime</a>
							</time>
							<div class="listar-title">
								<h2>
									<a routerLink="../blogdetails">More Game More Energy</a>
								</h2>
							</div>
						</div>
						<a class="listar-btnreadmore" routerLink="../blogdetails">Read More</a>
					</article>
					<article class="listar-themepost listar-post">
						<figure class="listar-featuredimg">
							<a href="newsdetail.html">
								<img src="assets/images/blog/img-12.jpg" alt="image description">
							</a>
						</figure>
						<div class="listar-postcontent">
							<div class="listar-postauthordpname">
								<span class="listar-postauthordp">
									<a href="javascript:void(0);">
										<img src="assets/images/author/img-12.jpg" alt="image description">
									</a>
								</span>
								<span class="listar-postauhorname">
									<a href="javascript:void(0);">Tia John</a>
								</span>
							</div>
							<time datetime="2017-08-08">
								<a href="javascript:void(0);">Religious</a>
							</time>
							<div class="listar-title">
								<h2>
									<a routerLink="../blogdetails/">Peaceful Place</a>
								</h2>
							</div>
						</div>
						<a class="listar-btnreadmore" routerLink="../blogdetails">Read More</a>
					</article>
				</div>

			</div>
		</div>
	</div>
</main>
